@import "tailwindcss";

@theme {
  --color-primary-blue: #0B4F9C;
  --color-dark-navy: #082F5B;
  --color-corporate-green: #2E8B57;
  --color-dark-green: #176B3A;
  --color-off-white: #F7F9FC;
  --color-charcoal: #111827;
  --color-muted-gray: #64748B;
  --color-light-yellow: #FEF08A;

  --font-sans: var(--font-inter);
}

:root {
  --background: #F7F9FC; /* Light gray background by default */
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #082F5B;
    --foreground: #F7F9FC;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  @apply antialiased;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
